.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 148, 119);
}
.app-heading-register {
    color: #1e181e;
    font-size: 28px;
    font-family:cursive;
    text-decoration: underline;
    margin-bottom: 22px;
    align-self: center;
}
.form-container {
    width: 300px;
    padding: 25px;
    padding-top: 17px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fdf8f8;
    border-radius: 9px;
}

.label {
    color: black;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    padding: 3px 0px;
}

.input-el {
    height: 40px;
    border:1px solid #d0c8c8;
    border-radius: 6px;
    outline-width: 0px;
    color: blue;
    font-size: 16px;
    font-family: DejaVu Sans Mono, monospace;
    font-weight: 500;
    padding: 5px 16px;
    margin-bottom: 18px;
}

.register-button {
    background-color:  rgb(84, 148, 119);
    border-width: 0px;
    border-radius: 5px;
    color: #ffffff;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto";
    margin-top: 16px;
}

.link-text {
    font-size: 14px;
    color: #8b4c8e;
    font-weight: 500;
    font-family: monospace;
}

.login-link-text {
    font-weight: 600;
}